.big-margin-y {
	margin-left: 7em;
	margin-right: 7em;
}

.big-padding {
	padding: 7em;
}

.mb-140 {
	margin-bottom: 10em;
}

.max-width {
	max-width: 45%;
/*	min-width: 100px;*/
}

.font-size-13 {
	font-size: 13px;
}

.font-size-52 {
	font-size: 52px;
}

.slightly-light {
	background-color: rgb(83, 135, 253);
}

#content img {
	margin-top: 3em;
	margin-bottom: 3em
}





