{{ define "main" }}

{{ partial "posts/hero_list.html" . }}



<section class="container">
	<div class="big-margin-y mt-5 pt-5">
		<div class="mb-140">
			<h1 class="fw-bold mb-5">{{ .Title }}</h1>
			
			{{ range .Paginator.Pages }}
				<div class="row gap-5 mb-5 pb-3">
					<div class="col">
						<div class="d-flex gap-3 pb-2">
							<div
								class="text-bg-secondary px-2 py-1 text-uppercase font-size-13"
							>
								{{ .Params.tag}}
							</div>
							<div class="px-2 py-1 font-size-13">
								{{ .Date | time.Format ":date_long" }}
							</div>
						</div>
						<h2><a href="{{ .Permalink }}" class=" link-underline link-underline-opacity-0 link-dark"> {{ .Title }} </a></h2>
						<div>{{ .Params.short_description}}</div>
					</div>
					<div class="col-4">
						<img src="/images/second-image.png" alt="" class="img-fluid" />
					</div>
				</div>
			{{ end}}
		</div>


		<div class="d-flex justify-content-center" id="page-number">
			{{ template "_internal/pagination.html" . }}
			<!-- <button class="btn btn-secondary">More articles</button> -->
		</div>
	</div>
</section>


{{ partial "subscribe.html" . }}

{{ end }}
