{{ define "main" }}

{{ partial "posts/hero_list.html" . }}



<section> 
	<div class="container">
		<div class="mx-lg-225px mb-144 mt-100px">
			<div class="mb-120">
				<h1 class="fw-bold mb-60px fs-36px">{{ .Title }}</h1>
				
				{{ range .Paginator.Pages }}
					<div class="row gap-5 mb-80px align-items-center d-flex flex-column-reverse flex-lg-row">
						<div class="col-lg col-12 my-2">
							<div class="d-flex mb-4">
								<div
									class="text-bg-secondary pt-2 pb-10px px-12px text-uppercase fs-13px rounded-start"
								>
									{{ .Params.tag}}
								</div>
								<div class="pt-2 pb-10px px-12px fs-13px text-uppercase">
									{{ .Date | time.Format ":date_long" }}
								</div>
							</div>
							<h2 class="fs-3 fw-bold lh-130 mb-12px"><a href="{{ .Permalink }}" class=" link-underline link-underline-opacity-0"> {{ .Title }} </a></h2>
							<div class="fs-18px lh-150">
								{{ .Params.short_description}}
							</div>
						</div>
						<div class="col-lg-4 col-12">
							{{ $thumbnail := resources.Get "images/thumbnail.png" }} 
								{{ $thumbnail := $thumbnail.Resize "696x437"}}
								<img src="{{ $thumbnail.Permalink }}" alt="" class="img-fluid" />
						</div>
					</div>
				{{ end}}
			</div>


			<div class="d-flex justify-content-center" id="page-number">
				{{ template "_internal/pagination.html" . }}
				<!-- <button class="btn btn-secondary">More articles</button> -->
			</div>
		</div>
	</div>
</section>


{{ partial "subscribe.html" . }}

{{ end }}
