{{ define "main" }} 
{{ partial "posts/hero_single.html" . }}

<div class="container p-0">
	<img src="{{ .Params.main_picture }}" alt="" class="img-fluid" />
</div>

<section>
	<div class="d-flex justify-content-center">
		<div
			class="max-width d-flex flex-column align-items-center my-5 py-5 gap-2"
			id="content"
		>
			{{ .Content }}
		</div>
	</div>
</section>

<!-- Other posts -->
<section class="container">
	<div class="big-margin-y border-top">
		<h1 class="fw-bold my-5">Other interesting posts</h1>

		<!-- EACH POST -->
		<div class="row gap-5 mb-5 pb-3">
			<div class="col">
				<div class="d-flex gap-3 pb-2">
					<div class="text-bg-secondary px-2 py-1 text-uppercase font-size-13">
						Daily Updates
					</div>
					<div class="px-2 py-1 font-size-13">Date</div>
				</div>
				<h2>Title</h2>
				<div>
					Short Description: Lorem ipsum dolor, sit amet consectetur adipisicing
					elit. Esse distinctio laudantium vero tenetur accusamus nulla tempora
					eum odit qui numquam!
				</div>
			</div>
			<div class="col-4">
				<img src="/images/second-image.png" alt="" class="img-fluid" />
			</div>
		</div>

		<!-- EACH POST -->
		<div class="row gap-5 mb-5 pb-3">
			<div class="col">
				<div class="d-flex gap-3 pb-2">
					<div class="text-bg-secondary px-2 py-1 text-uppercase font-size-13">
						Daily Updates
					</div>
					<div class="px-2 py-1 font-size-13">Date</div>
				</div>
				<h2>Title</h2>
				<div>
					Short Description: Lorem ipsum dolor, sit amet consectetur adipisicing
					elit. Esse distinctio laudantium vero tenetur accusamus nulla tempora
					eum odit qui numquam!
				</div>
			</div>
			<div class="col-4">
				<img src="/images/second-image.png" alt="" class="img-fluid" />
			</div>
		</div>

		<!-- EACH POST -->
		<div class="row gap-5 mb-5 pb-3">
			<div class="col">
				<div class="d-flex gap-3 pb-2">
					<div class="text-bg-secondary px-2 py-1 text-uppercase font-size-13">
						Daily Updates
					</div>
					<div class="px-2 py-1 font-size-13">Date</div>
				</div>
				<h2>Title</h2>
				<div>
					Short Description: Lorem ipsum dolor, sit amet consectetur adipisicing
					elit. Esse distinctio laudantium vero tenetur accusamus nulla tempora
					eum odit qui numquam!
				</div>
			</div>
			<div class="col-4">
				<img src="/images/second-image.png" alt="" class="img-fluid" />
			</div>
		</div>
	</div>
</section>

{{ partial "subscribe.html" . }}


{{ end }}
