<!-- Nav bar -->
<section>
	<div class="container">
		<div class="text-bg-primary mt-30px">
			<nav class="navbar mx-lg-56px mx-5 p-0">
				<div class="container-fluid mt-40px mb-lg-76px d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between">
					<div class="mb-4 mb-lg-0">
						<a href="{{ .Site.BaseURL }}">
							{{ $logo := resources.Get "images/navbar_logo.png" }}
							<img src="{{ $logo.Permalink }}" alt="" />
						</a>
					</div>

					<div>
						<ul class="navbar-nav d-flex flex-row gap-40px fs-lg-6">
							{{ $page := .Page }}
							{{ range .Site.Menus.main }}
							<li class="nav-item text-center
							{{ if .HasChildren }}
									dropdown
							{{ end }}
							">
								<a class='nav-link p-0 text-bg-primary
								{{ if $page.IsMenuCurrent "main" . }}
									fw-bold
								{{ end }}
								{{ if .HasChildren }}
									dropdown-toggle
								{{ end }}
								' 
								{{ if .HasChildren }}
									data-bs-toggle="dropdown"
								{{ end }}
								href="{{ .URL }}"> 
								{{ .Name }}
									</a>
							
								{{ if .HasChildren }}
									<ul class="dropdown-menu position-absolute">
										{{ range .Children }}
											<li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
										{{ end }}
									</ul>
								{{ end }}
							</li>	
							{{end}} 
						</ul>
					</div>

					<div class="d-none d-lg-block">
						<button class="btn text-light border-0 bg-dark-subtle py-10px px-20px">Subscribe</button>
					</div>
				</div>
			</nav>
		</div>
	</div>
</section>