<div class="container text-bg-primary mt-3">
	<nav class="navbar">
		<div class="container-fluid pt-3 px-5">
			<div>
				<a href="{{ .Site.BaseURL }}">
					<img src="/images/logo.png" alt="" />
				</a>
			</div>

			<div>
				<ul class="navbar-nav d-flex flex-row gap-3">
					{{ with .Site.GetPage "/posts/" }} {{ range .Pages }}
					<li class="nav-item">
						<a class="nav-link text-bg-primary" href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</li>
					{{end}} {{end}}
				</ul>
			</div>

			<div>
				<button class="btn text-light slightly-light">Subscribe</button>
			</div>
		</div>
	</nav>
</div>
