<section>
	<div class="container mb-100 ">
		<div class="mx-7rem text-bg-primary rounded-10px mx-225px">
			<div
				class="d-flex justify-content-center py-80px"
			>
				<div class="text-center">
					<h2 class="fw-bold lh-130 mb-12px">Subscribe to my blog.</h2>
					<div class="lh-150 mb-40px">I post fresh content every week</div>
					<div>
						<div class="input-group">
							<input
								type="text"
								class="form-control fs-14px py-3 px-21px lh-140"
								placeholder="Email address"
							/>
							<button class="btn btn-info fs-12px py-18px px-34px fw-semibold" type="button" id="button-addon2">
								Subscribe
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
