<div class="container text-bg-primary my-3">
	<nav class="navbar">
		<div class="container-fluid pt-3 px-5">
			<div>
				<a href="{{ .Site.BaseURL }}">
					<img src="/images/logo.png" alt="" />
				</a>
			</div>

			<div>
				<ul class="navbar-nav d-flex flex-row gap-3">
					{{ with .Site.GetPage "/posts/" }} {{ range .Pages }}
					<li class="nav-item">
						<a class="nav-link text-bg-primary" href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</li>
					{{end}} {{end}}
				</ul>
			</div>

			<div>
				<button class="btn text-light slightly-light">Subscribe</button>
			</div>
		</div>
	</nav>

	{{ $tag := .Params.tag }}
	{{ $tag_line := .Params.tag_line }}

	<section class="big-padding">
		{{ with .Param "tag"}} 
		
			<span class="border border-light px-2 py-1 rounded text-uppercase">
				{{ $tag }}
			</span>
			<h1 class="fw-bold font-size-52">{{ $tag_line }}</h1>
		{{ else }}
			<div class="d-flex">
				<div class="text-uppercase">👋 <span class="ms-1">Hello</span></div>
			</div>
			<h1 class="fw-bold font-size-52">{{ $tag_line }}</h1>
		{{ end }}
	</section>
</div>
